.black {
  color: black
}

.panel-default {

}



.ontext {
  color: red;
}

.environment {
  margin-top: 10px;
  padding: 10px;
  border: 3px solid black;
}

.building {
  margin: auto;
  width: 500px;
}

.intro {
    padding-bottom: 30px;
}

.building-inside {
  display: table-cell;
  width: 100px;
  padding: 50px;
}



.thermostat {
  margin: 10px;
  padding: 5px;
  border: 3px solid black;
  border: 3px dotted black;
  width: 200px;
}

.radiator {
  background-color: red;
  border-width: 5px;
  padding: 5px;
  margin: 10px;
  border-color: orange;
  width: 150px;
}

.timer {
  font-size: x-small;
}

.grooved {
  border-style: groove;
}

.ridged {
  border-style: ridge;
}

.east-west-row {
  display: table;
  width: 100%;
}

.east-west {
  display: table-cell;
  position: relative;
  width: 5px;
  background-color: black;
}

.north-south {
    height: 5px;
    background-color: black;
}

.south-row {
  padding-bottom: 40px;
}

.roof-row {
  margin: 10px;
  margin-bottom: 50px;
}

.roof {
  height: 10px;
  background-color: black;
}

.wall_name {
  position: fixed;
  background-color: white;
  padding: 3px;
  z-index: 1;
}

.editable-label {
  position: relative;
  display: table-row;
}

.description {
  float: left;
}

.value {
  float: right;
  align: right;
}

.info-container {
  float: right;
}

.info {
  padding-left: 5px;
}

.popover-deets {
  position: fixed;
  border: 1px solid black;
  background-color: white;
  font-size: .75em;
  z-index: 10;
}
